

html {
    background: url("../images/Wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }


body {
    background: transparent;
}
.mx-auto {
    display: block;
    width: 500px;
    margin: auto;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: .9em;
    text-shadow: 3px 3px yellow;
    font-weight: 800;
}

.gif-image{
	margin-top: 30px;
	margin-bottom: 30px;
}

.button {
	font-size: 16px;
	background-color: black;
	color: white;
	padding: 5px 5px;
}
.country-button{
    margin: 3px;
}

.button:hover{
	color: yellow;
}

.button:focus{
	outline: 2px solid #efad07 !important;
	background-color: #1680bc;
	color: #efad07;
}

#button-container {
    margin: auto;
    padding-left: 3.5%;
}

.search-bar {
    float: right;
}

.appended-gifs-section{
	float: left;
    margin: 5px 2.5px 2.5px 5px;
    padding-left: 20px;
}
